@charset "UTF-8";

@font-face {
    font-family: 'Star-jhol';
    src: url('../Fonts/Starjhol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Star-jedi';
    src: url('../Fonts/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --federal-blue: #989C94;
    --seasalt: #F8F8F8;
    --black: #000;
    --yellow: #FFFF00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation-bar {
    background-color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo > h2 {
     font-family: 'Star-jhol';
     letter-spacing: 2px;
}

.logo > h2 > a, .navigation-buttons > li > a {
    text-decoration: none;
    color: var(--yellow);
}

.navigation-bar > .navigation-buttons {
    display: flex;
    gap: 40px;
    margin-right: 25px;
}

.navigation-bar > .navigation-buttons > li {
    list-style-type: none;
}

.navigation-buttons > li > a {
    font-family: 'Star-jedi';
}

.logo > h2 > a:hover, .navigation-buttons > li > a:hover {
    color: var(--seasalt);
    transition: 0.3s;
}

.introduction {
    background-color: var(--federal-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 87.9vh;
}

.introduction > .background-foto > .foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid var(--black);
}

.introduction > .welcome-text {
    text-align: center;
    font-family: 'Star-jedi', Arial, Helvetica, sans-serif;
    width: 50%;
}









